img{
  width: 15%;
  height: 20%;
  align-self: center;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 1020; // Ensure it stays on top of other content
}

.navbar-brand {
    letter-spacing: 3px;
    color: #c24244;
  }
  
  .navbar-brand:hover {
      color: #c24244;
  }
  
  .navbar-scroll .nav-link,
  .navbar-scroll .fa-bars {
    color: white;
  }
  
  .navbar-scrolled .nav-link,
  .navbar-scrolled .fa-bars {
    color: white;
  }
  
  .navbar-scrolled {
    background-color: #ffede7;
  }